.container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: calc(100vh - 54px);
    margin: 0;
}

.example-card {
    width: 25vw;
    padding: 50px;
}

input {
    width: 100%;
}

mat-form-field {
    width: 100%;
    margin: 20px 0;
}

a {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none !important;
    font-size: 14px;
}


.error {
    background-color: rgb(103, 58, 183);
    padding: 10px;
    color: white;
}