<mat-progress-bar
    class="progress-bar"
    *ngIf="loading"
    mode="indeterminate"
></mat-progress-bar>
<div class="container">
    <div class="sidebar">
        <div class="current-user" *ngIf="me">
            <div class="current-user-title">
                <div class="mat-h1">Miniature Chat</div>
                <div class="add">
                    <button mat-icon-button [matMenuTriggerFor]="setting">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #setting="matMenu">
                        <app-contact-list
                            [me]="me"
                            [contacts]="unaddedContacts"
                            (onConnect)="connect($event)"
                        ></app-contact-list>
                        <button mat-menu-item (click)="logOut()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Sign out</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <div class="current-user-name">
                <svg width="20" height="20" [jdenticonHash]="me.id"></svg>
                <span class="title mat-small">{{ me.name }}</span>
            </div>
        </div>
        <div class="search">
            <mat-form-field class="example-form-field">
                <input
                    matInput
                    type="text"
                    placeholder="Search"
                    [formControl]="searchChannelControl"
                />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div *ngFor="let channel of myFilteredChannels">
            <div
                class="channel"
                [class.unread]="!channel.lastRead || channel.unread"
                [class.active]="activeContactOrChannelId === channel.id"
                (click)="connect(channel.id)"
            >
                <div class="channel-avatar">
                    <svg
                        width="40"
                        height="40"
                        [jdenticonHash]="channel.id"
                    ></svg>
                </div>
                <div class="channel-name">{{ channel.name }}</div>
            </div>
        </div>
        <div
            class="no-conversation"
            *ngIf="!myChannels.length && channelLoaded"
        >
            You have no conversations yet.
        </div>
    </div>
    <div class="chat">
        <div class="welcome" *ngIf="!activeChannelId && me">
            <h4>Welcome, {{ me.name }}</h4>
            <svg width="80" height="80" [jdenticonHash]="me.id"></svg>
        </div>
        <!--
            <div class="chat-header" *ngIf="activeChannelId">
                <div class="info">
                    <div class="mat-body-strong" *ngIf="activeChannel">{{ activeChannel.name }}</div>
                    <div>
                        <mat-icon>person</mat-icon>
                        <span>1</span>
                    </div>
                </div>
                <div class="search-messages">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Search" />
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        -->
        <div
            #messageContainer
            class="message-container"
            [class.none]="!activeChannelId"
        >
            <div class="messages">
                <app-message
                    [message]="message"
                    [me]="me"
                    (onDelete)="delete($event)"
                    (onEdit)="startEditing($event)"
                    *ngFor="let message of messages"
                >
                </app-message>
            </div>
            <div class="is-writing" *ngIf="writingContacts.length">
                {{ writingContacts.join(', ') }}
                {{ writingContacts.length === 1 ? 'is' : 'are' }} writing...
            </div>
        </div>
        <div class="chatbox" *ngIf="activeChannelId">
            <button
                class="file-button"
                mat-icon-button
                (click)="triggerInputFile()"
            >
                <mat-icon aria-label="Example icon-button with a heart icon"
                    >attachment</mat-icon
                >
            </button>
            <textarea
                id="newMessage"
                rows="1"
                class="new-message-input"
                #newMessage
                type="text"
                [(ngModel)]="newMsg"
                placeholder="Type a message here"
                (keyup)="isWriting()"
                (keyup.enter)="onMessageSent(newMessage.value)"
                (keyup.esc)="cancelEditing()"
            ></textarea>
            <input #inputFile type="file" (change)="upload($event)" />
            <div class="buttons">
                <button
                    mat-button
                    class="cancel-edit-button"
                    *ngIf="editingMessage"
                    (click)="cancelEditing()"
                >
                    Cancel Edit
                </button>
                <mat-menu #emojiMenu="matMenu">
                    <emoji-mart
                        set="emojione"
                        click-stop-propagation
                        (emojiSelect)="addEmoji($event)"
                    ></emoji-mart>
                </mat-menu>

                <button
                    class="emoji-button"
                    mat-icon-button
                    [matMenuTriggerFor]="emojiMenu"
                >
                    <mat-icon>tag_faces</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
