<div class="container">
    <div class="sidebar">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">chat</mat-icon>
                </ng-template>
                <div class="contact" *ngFor="let channel of myChannels">
                    <div class="name">{{ channel.name }}</div>
                    <button (click)="connect(channel.id)">Talk</button>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">person</mat-icon>
                </ng-template>
                <div class="contact" *ngFor="let contact of contacts">
                    <div class="name">{{ contact.name }}</div>
                    <div class="isOnline">{{ contact.isOnline }}</div>
                    <button (click)="connect(contact.id)">Contact</button>
                    <button (click)="become(contact)">Become</button>
                </div>
            </mat-tab></mat-tab-group
        >
    </div>
    <div class="chat">
        <div
            #messageContainer
            class="message-container"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolledUp)="handleScroll2()"
            [scrollWindow]="true"
        >
            <div class="messages">
                <app-message
                    [message]="message"
                    [me]="me"
                    (onDelete)="delete($event)"
                    (onEdit)="startEditing($event)"
                    *ngFor="let message of messages"
                >
                </app-message>
            </div>
            <div class="is-writing" *ngIf="writingContacts.length">
                {{ writingContacts.join(', ') }}
                {{ writingContacts.length === 1 ? 'is' : 'are' }} writing...
            </div>
        </div>
        <div class="chatbox">
            <button
                class="file-button"
                mat-icon-button
                (click)="triggerInputFile()"
            >
                <mat-icon aria-label="Example icon-button with a heart icon"
                    >attachment</mat-icon
                >
            </button>
            <textarea
                rows="1"
                class="new-message-input"
                #newMessage
                type="text"
                [(ngModel)]="newMsg"
                placeholder="Type a message here"
                (keyup)="isWriting()"
                (keyup.enter)="onMessageSent(newMessage.value)"
                (keyup.esc)="cancelEditing()"
            ></textarea>
            <input #inputFile type="file" (change)="upload($event)" />
            <div class="buttons">
                <button class="emoji-button" mat-icon-button>
                    <mat-icon aria-label="Example icon-button with a heart icon"
                        >tag_faces</mat-icon
                    >
                </button>
            </div>
            <button *ngIf="editing" (click)="cancelEditing()">
                Cancel Edit
            </button>
        </div>
    </div>
</div>
