<div class="message" [class.me]="message.sender.id === me.id" [class.first]="message.placement === 'first'">
    <div class="actions" *ngIf="message.sender.id === me.id">
        <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button
                mat-menu-item
                (click)="startEditing()"
                *ngIf="!message.attachment"
            >
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-menu-item (click)="delete()">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </div>
    <div class="sender-avatar" *ngIf="message.sender.id !== me.id">
        <svg width="40" height="40" [jdenticonHash]="message.sender.id"></svg>
    </div>
    <div class="message-content">
        <div class="sender">
            <span class="name">{{ message.sender.name }}, </span>
            <span class="timestamp">
                {{ message.timestamp | date: 'shortTime' }}
            </span>
        </div>
        <ng-container *ngIf="message.attachment; else: text">
            <a target="_blank" class="attachment-url" [href]="message.attachment.downloadUrl">
                <mat-card class="attachment">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <mat-icon>vertical_align_bottom</mat-icon>
                        </div>
                        <mat-card-title>{{
                            message.attachment.name
                        }}</mat-card-title>
                        <mat-card-subtitle>{{
                            message.attachment.size | prettyBytes
                        }}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </a>
        </ng-container>
        <ng-template #text>
            <div
                class="content"
                [innerHTML]="message.content | basicEmoji | linkify | emojify"
            ></div>
        </ng-template>
        <div class="preview-image" *ngIf="previewImage">
            <img [src]="previewImage" />
        </div>
    </div>
    <span class="edited-icon" *ngIf="message.edited">
        <mat-icon>edit</mat-icon>
    </span>
</div>
