.message {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.message-content {
    padding-left: 5px;
}

.sender {
    font-size: 12px;
    color: darkgray;
}

.message.me .sender {
    text-align: right;
}

.content {
    background-color: #f6f6f6;
    margin-top: 5px;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    word-wrap: break-word;
    white-space: pre-line;
    max-width: 500px;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    visibility: hidden;
}

.message:hover .actions {
    visibility: visible;
}

.message.me {
    flex-direction: row-reverse;
}

.message.me .name {
    display: none;
}

.message.me .content {
    background-color: #e0d5ff;
}

mat-icon {
    color: darkgray;
}

.menu {
    align-self: center;
    justify-self: center;
}

.edited-icon {
    display: flex;
    align-items: flex-end;
}

.edited-icon mat-icon {
    color: lightgray !important;
}

.attachment {
    min-width: 350px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.preview-image {
    margin-top: 10px;
}

.message.me .preview-image {
    text-align: right;
}

.preview-image img {
    max-width: 200px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

mat-card-title {
    color: black !important;
    font-size: 16px !important;
}

.attachment-url {
    text-decoration: none !important;
}

.example-header-image {
    text-align: center;
}
