<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <div class="error" *ngIf="error">{{error}}</div>
                <mat-form-field class="example-full-width">
                    <input
                        matInput
                        placeholder="Email"
                        [formControl]="emailFormControl"
                    />
                    <mat-error
                        *ngIf="
                            emailFormControl.hasError('email') &&
                            !emailFormControl.hasError('required')
                        "
                    >
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input
                        matInput
                        [type]="type"
                        placeholder="Password"
                        [formControl]="passwordFormControl"
                    />
                    <mat-icon matSuffix (click)="togglePassword()">{{
                        type === 'password' ? 'visibility' : 'visibility_off'
                    }}</mat-icon>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </form>
            <mat-spinner
                [style.display]="showSpinner ? 'block' : 'none'"
            ></mat-spinner>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button (click)="register()" color="primary">
                Register
            </button>
            <a [routerLink]="['/sign-in']">Already have an account? Sign in</a>
        </mat-card-actions>
    </mat-card>
</div>
